@{
    ViewBag.Title = "About";
}

<h1>About us</h1>

<section>
    <header>
        <h3>Vitaly Vladimirovich Zhukov</h3>
    </header>
    <h4>Director, technical Expert, back-end developer</h4>
    <p>
        Student Southern Federal University, a developer with the experience, just a good man.
    </p>
</section>

<section>
    <header>
        <h3>Dmitry Igorevich Savchenko</h3>
    </header>
    <h4>Junior minion, disigner, makeuper, slightly back-end developer</h4>
    <p>
        Student Southern Federal University, a junior developer, just a good man.
    </p>
</section>

<section>
    <header>
        <h3>JS Inquisitor's command</h3>
    </header>
    <h4>Vitaly & Dmitry</h4>
    <p>
        We have worked to make the lives of web developers a little easier.
    </p>
</section>

<section>
    <h4>Special thanks to the organizers and sponsors of «47 hours»</h4>
</section>