@{
    ViewBag.Title = "Chart";
}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="~/Scripts/Tables.js"></script>
        @Scripts.Render("~/Scripts/chart.js");

@if (User.Identity.IsAuthenticated)
{
    <script type="text/javascript">
        google.load('visualization', '1', { 'packages': ['coreChart'] });
    </script>
    <input id="jsonHidden" type="hidden" value="@ViewBag.JSON"/>
    <fieldset>
        <input type="radio" name="group1" class="periodOfBatchChart" value="3" title="For 3 days" />For 3 days<br />
        <input type="radio" name="group1" class="periodOfBatchChart" value="7" checked="true" title="For 1 week" />For 1 week<br />
        <input type="radio" name="group1" class="periodOfBatchChart" value="31" title="For 1 month" />For 1 month<br />
    </fieldset>
   // <div id="chart-window" style="width: 600px; height: 300px;"></div>


<table id="example" class="display">


</table>


}
else
{
    <h1>You must log in if you want to use this service!</h1>
}

