@{
    ViewBag.Title = "Contact";
}

<h1>Contact us</h1>

<section>
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span>Vitaliy:</span>
        <span>+7-989-700-62-09</span>
    </p>
    <p>
        <span>Dmitry:</span>
        <span>+7-952-562-74-87</span>
    </p>
</section>

<section>
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span>Vitaliy:</span>
        <span>Vitaliy.zhukov@gmail.com</span>
    </p>
    <p>
        <span>Dmitry:</span>
        <span>Lux2057@gmail.com</span>
    </p>
    <p>
        <span>Common:</span>
        <span>JsInquisitorTest@yandex.ru</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Vkontakte</h3>
    </header>
    <p>
        <span>Vitaliy:</span>
        <span>http://vk.com/vzhik19</span>
    </p>
    <p>
        <span>Dmitry:</span>
        <span>http://vk.com/dmitry_savchencko</span>
    </p>
</section>