@{
    ViewBag.Title = "Home Page";
}

<div id="login">Hello, <span class="username">@User.Identity.Name</span>!</div>
<h2>We are pleased to welcome you to our service.</h2>
<h3>You can use demo version with
    <ul>
        <li>login: test@test.com</li>
        <li>password: tester</li>
    </ul>
</h3>
<h3>We suggest the following:</h3>
<ol>
    <li>
        <h5>Let's start!</h5>
        <p>
            Today java script is very common. This scripting language is used almost everywhere:
        from the frontend and ending with the server component. Of course if you come to us 
        and understand what was said before you know it. And you know that java script errors 
        happen very often. So our service is designed to help you in fixing bugs on your site.
        </p>

    </li>

    <li>
        <h5>We can!</h5>
        <p>
            Our service provides an easy way to track the java script errors - we'll show you the
            graphs and tables constructed on the basis of statistical data from your sites. 
            In addition, we provide you with full information not only about what error occurred 
            and when, but also information about the events that were in front of her.
        </p>
    </li>

    <li>
        <h5>We will grow!</h5>
        <p>
            Our service does not stop there - we'll be adding more and more features to an unpleasant
            time to fix the script error has been reduced to a minimum.
        </p>
    </li>
</ol>

