@model List<Dictionary<string, string>>

@{
    ViewBag.Title = "GetErrorsTable";
}

<table>
<tr>
    <td>
        Message
    </td>
    <td>
        Count
    </td>
</tr>
@foreach (var error in Model)
{
    <tr>
        <td>
            @error["message"]
        </td>
        <td>
            @error["count"]
            <input type="hidden" value="@error["id"]" class="errorBaseId"/>
        </td>

    </tr>
}
</table>
