@model List<Dictionary<string, string>>

@{
    ViewBag.Title = "GetErrorsTable";
}

<table class="features-table">
    <thead>
        <tr>
            <td>
                Message
            </td>
            <td>
                Count
            </td>
        </tr>
    </thead>

    @foreach (var error in Model)
    {
        <tr onclick="location.href='/Error/Error/@error["id"]'">
            <td>
                @error["message"]
            </td>
            <td>
                @error["count"]
            </td>
        </tr>
    }
</table>
